*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    max-width: 70vw;
    max-height: 70vh;
    background-color: white;
    /* padding: 5px; */
    margin: 5px;
    border: 2px solid rebeccapurple;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 90px auto 50px;
    /* gap: 5px; */
    grid-template-areas:
    'header header'
    'main aside'
    'foo foo'
    ;
}
.header h1{
    font-style: bold;
    font-size: 16px;
    color: rgb(99, 95, 95);
    padding: 5px;
}
.header .nav{
    /* margin: 8px; */
    margin-right: 8px;
    border: groove;
    /* display: flex; */
    background-color: white;

}

.main  .section{
    display: flex;
    flex-direction: column;
    background-color: orange;
    height: 95px;
    margin: 4px;
    padding-top: 5px;
    padding-left: 100px;
}
/* .container div:nth-child(1) */
.container .header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: header;
    padding-left: 20px;
    background-color: rgb(71, 229, 229);
    border: 10px solid white;
    
}
/* .container div:nth-child(2) */
.container .main{
    display: flex;
    flex-direction: column;
    grid-area: main;
    padding: 5px;
    background-color: rgb(82, 144, 195);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* border-left: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 10px solid white; */
}
/* .container div:nth-child(3) */
.container .aside{
    display: flex;
    flex-direction: column;
    grid-area: aside;
    background-color: violet;
    padding-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    /* border-right: 10px solid white;
    border-bottom: 10px solid white; */
}
/* .container div:nth-child(4) */
.container .footer{
    display: flex;
    flex-direction: column;
    grid-area: foo;
    background-color: rgb(71, 229, 229);
    padding-left: 20px;
    padding-top: 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    /* border-left: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 10px solid white; */
}