*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    max-width: 70vw;
    max-height: 70vh;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 60px auto auto;
    border: 2px solid black;
    padding: 5px;
    padding-bottom: 20px;
    margin: 5px;
    /* gap:1px; */
    grid-template-areas:
    'header header header'
    'nav main main'
    'nav aside as'
    ;
    
}
.nav h1{
    font-size: 16px;
    font-style: bold;
    color: rgb(71, 69, 69);
}
.nav ul li{
    list-style: none;
    line-height: 30px;
    font-size: 20px;
}
.container .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    grid-area: header;
    margin-bottom: 20px;
    border: 2px solid blueviolet;

}

.container .nav{
    grid-area: nav;
    display: flex;
    padding: 4px;
    flex-direction: column;
    align-items: center;
    border: 2px solid blueviolet;
    margin-right: 5px;
    
}

.container .main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    border: 2px solid blueviolet;
    margin-bottom: 5px;
    height: 50px;
}

.container .aside-image{
    border: 2px solid blueviolet;
    grid-area: aside;
    margin-right: 2px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container .aside{
    border: 2px solid blueviolet;
    grid-area: as;
    display: flex;
    padding: 4px;
    flex-direction:column;
    align-items: center;
    height: 200px;
}